/*
styles.css
Patrick Maguire
301424195
Sept/28/2024
*/
body{
color: rgb(158, 8, 8);
width: 1500px;
border: 3px solid black;
padding: 50px;
background-color: aliceblue;
}
#logo{
    width: 150px;
    float: left;
}
#title{
    font-size: 120px;
    width: 400px;
    margin: 15px;
}
#blindDog{
    width:1300px;
    margin: 20px;
}
#diagram{
    width:1300px;
    margin: 20px;
}
#Csharp{
    width:1300px;
    margin: 20px;
}